# ide and tools extra
# .gitignore
*.idea/
*.orig
*.sublime-project
*.sublime-workspace
*.project
*.ipynb*
*.coverage
.vscode/
.pylintrc

# archivos temporales
*.pyc
*.pyo
*.bak
*.bak2
*.log
*.db
*.pid
*.rdb
*/__pycache__/


# db
db.sqlite3

# migrations
src/apps/*/migrations/0*
src/apps/*/migrations/__pycache__/
src/apps/*/__pycache__/